
  .content2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.page-content {
    margin-top: 50px;
}

.container-manage-appointments{
    margin-left: 300px;
}

.container-dashboard-appointments{
    margin-left: 20px;
}

.appointments{
    margin-left: 300px;
    margin-top: 70px;
}

/* manage admins */
.container-manage-admin{
    margin-left: 300px;
    margin-bottom: 20px;
}

.container-create-admin{
    margin-left: 300px;
    margin-bottom: 20px;
}

.container-create-admin .form-control{
    width: 30%;
    padding: px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* APPOINTMENTS DASHBOARD */
.appointmentbox{
    padding: 10px 20px;
    margin: 0px 0px 10px 15px;
    margin-right: 20px;
    height: 60vh;
    border: 1px solid rgb(255, 255, 255);
    /* background-color: rgba(177, 173, 173, 0.164); */
    background-color: rgba(221, 221, 221, 0.164);
    box-shadow: 5px 5px 5px 5px #969696b4;
    backdrop-filter: blur(6px);
    border-radius: 25px;
  }

  /* STATISTICS */
  .statistics{
    margin-left: 15px;
    margin: 0px 0px 50px 15px;
    width: 99%;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
  }
  .stats{
    margin-top: 2rem;
    width: 30rem;
    height: 10vh;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(221, 221, 221, 0.164);
    box-shadow: 5px 5px 5px 5px #969696b4;
    backdrop-filter: blur(6px);
    text-align: center;
    margin-right: 20px;
  }

  .scrollable-table {
    overflow-y: auto;
    height: 400px;
}

.superadmin-dashboard{
    margin-left: 300px;
}

/* MY INFO */
input[type="password"] {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input._password {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form-control {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
