.col-lg-5 .login-img {
    width: 100%;
    height: auto;
    max-width: 400px; /* Adjust this value to control the size */
}

.col-lg-5{
    padding: 0 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.login-img{
    padding: 0 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.page-content {
    margin-top: 50px;
}

.container-manage-appointments{
    margin-left: 310px;
}

.container-manage-appointments h2{
    margin-top: 50px;
}

.container-dashboard-appointments{
    margin-left: 20px;
}

/* my account */
.personal-data{
    margin-left: 600px;
    margin-bottom: 20px;
    max-width: 600px;
        /* margin: 20px auto; */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 80px;
}

.personal-data h2 {
    text-align: center;
    color: #333;
}

.personal-data div {
    margin-bottom: 10px;
}

.personal-data label {

    margin-right: 12px;
}

.personal-data span {
    color: #353232;
}

.personal-data button {
    background-color: #4faa84;
    border-radius: 5px;
}

.personal-data button:hover {
    background-color: #3c946f;
}



/*  */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.alert {
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    color: #fff;
}

.alert-danger {
    background-color: #dc3545;
}

.alert-success {
    background-color: #28a745;
}


/* manage admins */
.container-manage-admin{
    margin-left: 320px;
    margin-top: 80px;
}

.container-create-admin{
    margin-left: 320px;
    margin-bottom: 20px;
    margin-top: 80px;
}

.container-create-admin .form-control{
    width: 30%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* manage appointments status button */
.select-with-icon select {
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="%23<fill_color>"><path d="M20.7,5.3l-2.1-2.1c-0.4-0.4-1-0.4-1.4,0l-12,12v3.5h3.5l12-12C21.1,6.3,21.1,5.7,20.7,5.3z"/><path d="M0,0h24v24H0V0z" fill="none"/></svg>') no-repeat 96% 50%;
    background-size: 18px 18px;
    padding-right: 1.5em; /* Make room for the icon */
  }

  /* This is needed to target the icon color in the data URL */
  .select-with-icon select:required:invalid {
    color: gray; /* Fallback color */
  }
  .select-with-icon select option {
    color: black; /* Option text color */
  }

select[name="status"] {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    color: #495057;
    font-size: 12px;
    outline: none;


    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" fill="%23495057"><polygon points="896 384 512 768 128 384"/></svg>');
    background-repeat: no-repeat;
    background-position: right 2px center;
    background-size: 12px;
}

select[name="status"]:hover {
    border-color: #adb5bd;
    background-color: #e9ecef;
}

select[name="status"]:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* APPOINTMENTS DASHBOARD */
.table td{
    font-size: 14px;
}

.table th a {
    color: inherit;
    text-decoration: none;
}

.appointments{
    margin-left: 300px;
    margin-top: 10px;
    padding-top: 5px;
}



/* .appointmentbox{
    overflow: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
    height: 65vh;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(240, 240, 240, 0.76);
    box-shadow: 5px 5px 5px 5px #969696b4;
    backdrop-filter: blur(6px);
    border-radius: 10px;
  } */

  /* sort */
    /* sort span icon*/
    @font-face {
        font-family: 'Material Symbols Outlined';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v166/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
      }

      .material-symbols-outlined {
        font-family: 'Material Symbols Outlined';
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        line-height: 0.5;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
      }

  .dropdown-custom{
    margin-right: 10px;
    margin-top: 5px;
    padding: 0;
  }

  .custom-dropdown-toggle {
    padding: 0 0; /* Reduces padding */
    font-size: 5px; /* Smaller font size */
    /* line-height: 1.5;  */
  }

.custom-dropdown {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    font-family: 'Lato', sans-serif;
  }

  .custom-dropdown > form {
    font-size: 15px;
    padding: 10px;
  }

  .custom-button{
    font-size: 14px;
    border-radius: 8px;
    background-color: #4faa84;
    margin-right: 8px;
  }

  /* .custom-dropdown .btn {
    font-size: 12px;
    width: 100%;
  } */

  .custom-dropdown label {
    display: block;
    margin: 10px 0;
    font-size: 12px;
    border-radius: 5px;
  }

  .custom-dropdown input[type="radio"] {
    margin-right: 0.5rem;
  }


  /* searchbar */
  .header-with-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-with-search h2{
    margin-left: 5px;
}

  .search-form {
    margin-left: auto;
    display: flex;
    align-items: center;
}

    .search-form input {
        margin-right: 5px;
        width: 300px;
        padding-left: 10px;
        border: 2px solid #cccccc;
        border-radius: 5px;
        color: #333;
        outline: none;
        padding: 4px;
        font-size: 14px;
    }

    .search-form input[type="text"] {
        font-size: 13px;
        margin-left: 5px;
        margin-top: 4px;
    }

    .search-form button {
        border-radius: 5px;
        background-color: #4faa84;
        margin-right: 8px;
        height: 36.5px;
        margin-top: 4px;
    }

    /* PAGINATION */
    .pagination {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .page-item {
        margin: 0 1px;
    }

    /* Page links */
    .page-link {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        color: #007bff;

        padding: 5px 10px;
        border-radius: 5px;

        transition: background-color 0.3s, color 0.3s;
        font-size: 13px;
    }

    .page-link:hover {
        background-color: #007bff;
        color: #ffffff;
        text-decoration: none;
    }

    .page-item.active .page-link {
        background-color: #007bff;
        color: #ffffff;
    }

    .showing-text{
        margin-left: 10px;
        margin-bottom: 10px;
    }

  /* STATISTICS */
  .appointments-stats{
    /* margin-left: 100px; */
    margin-top: 30px;
}
  .statistics{
    margin-left: 15px;
    margin: 0px 0px 50px 15px;
    width: 99%;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
  }

  .stats-pending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 350px;
    height: 13vh;
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: rgba(133, 131, 131, 0.164);
    box-shadow: 5px 5px 5px 5px #969696b4;
    backdrop-filter: blur(6px);
    text-align: center;
    margin-right: 20px;
}

.big-number, .stats-pending p {
    margin: 2px;
    padding: 0;
}

.stats-approved {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 350px;
    height: 13vh;
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: rgba(0, 128, 0, 0.562);
    box-shadow: 5px 5px 5px 5px #969696b4;
    backdrop-filter: blur(6px);
    text-align: center;
    margin-right: 20px;
}

.big-number, .stats-approved p {
    margin: 2px;
    padding: 0;
    color: black;
}

.stats-released {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 350px;
    height: 13vh;
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: rgba(255, 166, 0, 0.719);
    box-shadow: 5px 5px 5px 5px #969696b4;
    backdrop-filter: blur(6px);
    text-align: center;
    margin-right: 20px;
}

.big-number, .stats-released p {
    margin: 2px;
    padding: 0;
}

.small-text {
    font-size: 18px;
    margin-left: 10px;
}


  .big-number {
    font-size: 60px;
    font-weight: bold;
    align-items: center;
}

  .scrollable-table {
    overflow-y: auto;
    height: 400px;
}

.superadmin-dashboard{
    margin-left: 300px;
}

/* MY INFO */
input[type="password"] {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input._password {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form-control {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* color per status */

.status-block {
    padding: 2px 8px;
    border-radius: 4px;
    color: white;
    display: inline-block;
}

.status-approved { background-color: green; }
.status-released { background-color: orange; }
.status-follow-up { background-color: blue; }
.status-rescheduled { background-color: purple; }
.status-pending { background-color: grey; color: black;}
.status-done { background-color: darkgreen; }
.status-rescheduled-by-user { background-color: teal; }
.status-cancelled { background-color: red; }
.status-cancelled-no-show { background-color: brown; }
.status-unknown { background-color: black; }
